.input-group {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  transition: 250ms;
}

.authorize {
  display: inline-block;
  transition-duration: 150ms;
}

.authorize:focus {
  border-color: rgba(241, 105, 79, 1);
}

.error-message {
  margin: 0;
  color: red;
}

.enter {
  width: 52.16vw;
  height: 50px;
  margin-top: 28px;
  background-color: rgba(241, 105, 79, 1);
  font-style: bold;
  font-size: 18px;
  outline: none;
  border: 0;
  padding: auto;
}

span {
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
}

li {
  display: block;
  list-style-type: none;
  float: left;
  padding: 0 20px;
  font-size: 18px;
}

ul {
  display: inline-block;
  justify-content: space-between;
  padding: 0;
  position: 0;
}
