.input-holder {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 0.2em;
}

.set-value{
    border-style: none;
    font-size: 18px;
    color: black;
    outline: none;
    width: 90%;
    margin: auto;
    padding-bottom: 0;
    height: 20px !important;
    margin-top: 20px;
    margin-bottom: 3px;
}

.naming{
    width: 90%;
    margin: 0;
    text-align: left;
}
