.card-set-item {
    border: solid black;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    background-color: #eee;
}

.card-set-item__title {
    display: inline-block;
    margin: 0;
    font-size: 1.3em;
    font-weight: bold;
}

.card-set-item__slug{
    display: inline-block;
    margin: 0;
}