.create-set{
    background-color: white;
    margin: auto;
    width: 90%;
    margin-top: 20px;
    outline: none;
    border-color: rgba(217, 217, 217, 1);
    font-family: inter;
    height: 40px !important;
    border-style: solid;
    font-size: 18px;
    color: black;
}